%link{ :href=>"/stylesheets/screen.css", :media=>"screen, projection", :rel=>"stylesheet", :type=>"text/css"}

.content
  %button{:id=>"closebutton", :onclick=>"parent.$('#iframe_details').bPopup().close();parent.$('#iframe_overview').bPopup().close();"}
    X
    
  .details{:style=>"padding:0.5em;min-height:400px;"}
    %h2{:style=>"margin:0px;margin-left:8px;"}
      Names and synonyms:
    %img{:src=>"#{@compound.uri}/image", :alt=>"Compound image not available", :width=>"300px", :heigth=>"300px"}
    %p
    %b="SMILES:"
    %p= @smiles
    %br
    %b="InChI:"
    %p= @inchi
    %br
    %b="Names:"
    %p{:style=>"padding-left:0.5em;"}
      = @names
    %p{:style=>"padding-left:0.5em;"}
      / pubchem link
      %a{:href=>"http://aop.in-silico.ch/", :title=>"link opens in new tab", :alt=>"pubchem link", :target=>"_blank"} PubChem read across 
      %i (experimental)

