%link{ :href=>"/stylesheets/screen.css", :media=>"screen, projection", :rel=>"stylesheet", :type=>"text/css"}

.content
  .details
    %h2
      Details:
    %img{:src=>"#{@compound_uri.uri}/image", :alt=>@compound_uri.uri, :width=>"100px"}
    %p
      SMILES:
      = @compound_uri.smiles

    %p
      // TODO handle OpenTox::ResourceNotFoundError
      Names:
      = @compound_uri.names

    %p
      = @compound_uri.inchi.gsub("InChI=", "InChI: ")
