!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "chrome=1"}
    %title Lazar Toxicity Predictions
    %link{ :href=>"/stylesheets/screen.css", :media=>"screen, projection", :rel=>"stylesheet", :type=>"text/css"}
    %script{:src=>"http://code.jquery.com/jquery-1.8.3.js"}

  %body
    .logo
      %h1 Lazar Toxicity Predictions
      
    .info 
      This is a placeholder for informations about this IST application. In 3 steps to your prediction.
    
    .content
      = yield
    
    .footer
      &copy; 
      %a{:href => 'http://www.in-silico.ch', :rel => "external"} in-silico toxicology gmbh 2004-2013
