!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'charset'=>"utf-8"}
    %meta{'http-equiv'=>"X-UA-Compatible", :content=>"IE=edge"}
    %meta{'name'=>"viewport", :content=>"width=device-width, initial-scale=1"}
    %title lazar Toxicity Predictions
    %link{:rel=>'icon', :type=>'image/x-icon', :href=>'/images/favicon.ico'}
    %link{:href=>"/stylesheets/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:href=>"/stylesheets/font-awesome.min.css", :rel=>"stylesheet"}
    %link{:href=>"/stylesheets/pagination.css", :rel=>"stylesheet"}
    %link{:href=>"/style.css", :rel=>"stylesheet"}
    %script{ :src=>"/javascripts/jquery.min.js"}
    %script{ :src=>"/javascripts/popper.min.js"}
    %script{:src=>"/javascripts/lazar-gui.js"}
    %script{ :src=>"/javascripts/bootstrap.js"}
    %script{:src=>"/javascripts/pagination.min.js"}
    //%script{:src=>"/javascripts/google_analytics_lazar.js"}
  %body
    %noscript
      %div{ :style=>"width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif"}
      Your web browser must have JavaScript enabled in order for this application to display correctly.
    %header.container-fluid.page-header
      %div.row.align-items-center
        %div.col-3
          %a.card-link{:href=> "https://in-silico.ch/", :rel=>"external"}
            %img{:src=>"/images/IST_logo_s.png", :alt=>"logo", :width=>"100px", :heigth=>"100px"}
          %a.card-link{:href=> "https://openrisknet.org/", :rel=>"external"}
            %img{:src=>"/images/orn-logo.jpg", :alt=>"orn-logo", :width=>"100px", :heigth=>"100px"}
        %div.col-6
          %h1 lazar toxicity predictions
        %div.col-3
          %a{:href=>"https://twitter.com/intent/tweet?source=http%3A%2F%2Flazar.in-silico.ch&text=http%3A%2F%2Flazar.in-silico.ch", :rel=>"external", :title=>"Tweet"}
            %span.fa.fa-2x.fa-twitter-square
          %a{:href=>"https://plus.google.com/share?url=http%3A%2F%2Flazar.in-silico.ch", :rel=>"external", :title=>"Share on Google+"}
            %span.fa.fa-2x.fa-google-plus-square
          %a{:href=>"http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Flazar.in-silico.ch&title=&summary=&source=http%3A%2F%2Flazar.in-silico.ch", :rel=>"external", :title=>"Share on LinkedIn"}
            %span.fa.fa-2x.fa-linkedin-square
          %a{:href=>"https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flazar.in-silico.ch&title=&summary=&source=http%3A%2F%2Flazar.in-silico.ch", :rel=>"external", :title=>"Share on Facebook"}
            %span.fa.fa-2x.fa-facebook-square
    %div.container-fluid
      %topline.alert
        %p
          Problems, bugs, ideas for improvements ? Please report at our
          %a{:href => 'https://github.com/opentox/lazar-gui/issues', :rel => "external"} issue tracker
          , check out the 
          %a{:href=> to("/predict/faq")} FAQ
          page or send us an email.
          %a{ :href=>"mailto:info@in-silico.ch?subject=[lazar v#{@version}]", :target=>"_top"}
            %span.fa.fa-envelope
          [version: #{@version}]
        %p
          Please cite
          %a{ :href=>"https://doi.org/10.3389/fphar.2013.00038", :rel=>"external"}
            %img{ :src=>"https://zenodo.org/badge/DOI/10.3389/zenodo.10.3389.svg", :alt=>"DOI"}
          in scientific publications.
      
          
      = yield
    
    %footer.footer
      %div.container-fluid
        %div.row
          %div.col-md-12
            %p.text-muted
              &copy; 
              %a{:href => 'http://www.in-silico.ch', :rel => "external"} <i style="font-family: serife">in silico</i> toxicology gmbh 2004 - #{Time.now.year.to_s}
              |
              %a{:href => to("/license"), :rel => "external"} GPL3 License

    #back-top{:style => "z-index:100;position:fixed;bottom:1%;right:1%;"}
      %a{:href => "", :style=>"text:decoration:none;color:#ccc;"}
        %span.fa.fa-caret-up{:style => "font-size:3em;color:black;"}
    :javascript
      //var $j = jQuery.noConflict();
      // $j is now an alias to the jQuery function; creating the new alias is optional.
      $("#back-top").hide();
      $(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 600) {
            $('#back-top').fadeIn();
          } else {
            $('#back-top').fadeOut();
          }
        });
        // scroll body to 0px on click
        $('#back-top a').click(function () {
          $('body,html').animate({
            scrollTop: 0
          }, 500);
          return false;
        });
      });
      $(document).ready(function(){
        $("#back-top").hide();
        $(".blind").on('error', function(){
          $(this).attr('src', '/images/blind.png');
        });
      });
      $(document).ready(function(){
        //$('[data-toggle="popover"]').popover();
        $('.modal').on('hidden.bs.modal', function () {
          $(this).removeData('bs.modal');
        });
      });
