!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "chrome=1"}
    %title Lazar Toxicity Predictions
    %link{ :href=>"/stylesheets/screen.css", :media=>"screen, projection", :rel=>"stylesheet", :type=>"text/css"}
    %link{:rel=>"stylesheet", :href=>"/stylesheets/jquery-ui.css"}
    %script{:src=>"/javascripts/jquery-1.9.1.min.js"}
    %script{ :src=>"/javascripts/jquery-ui.js"}
    

  %body
    .logo
      %a{:href=> "http://www.in-silico.ch/", :target=>"_blank"}
        %img{:src=>"/images/ist_logo.png"}
      %h1 Lazar Toxicity Predictions
    
    .content
      = yield
    
    .footer
      &copy; 
      %a{:href => 'http://www.in-silico.ch', :rel => "external"} in-silico toxicology gmbh 2004-2013
