body {
  background-color:#E7E7E7;
}
table.table-borderless tbody tr td{
  border-top: none;
}
h4.head-back, h5.head-back{
  background-color: #E7E7E7;
}
.nav-tabs {
  background-color: #E7E7E7;
  //margin-bottom: 0;

  li.active a:hover {
    background-color: #f5f5f5;
  }

  li a {
    height: 7em;
  }
}
img {
  max-width: 100%;
  max-height: 100%;
}

.plot {
  height: 300px;
  width: 300px;
}
.faq {
  text-align: block;
  margin-left:15%;
  margin-right:15%;
  margin-top:2%;
}
.faq h1 {
  text-align: center;
}
.tablesorter-bootstrap thead .sorter-false {
  cursor: default;
}
.tablesorter-bootstrap thead {
  background-color: #E7E7E7;
}
ul.share-buttons{
  list-style: none;
}
.dropdown-menu {
  min-width: 0px !important;
  width:60px;
}
.dropdown-menu a {
  padding: 0 2px 1px 2px !important;
}
.page-header{
  background-color: #fff;
  padding:20px 0 20px 0;
  margin: 0;
  text-align:center;
  display:inline-block;
  width:100%;
}
.share{
  width: 30px;
  padding-right: 5px;
}
supporters{
  background-color: white;
  text-align:center;
  img{
    width: 200px;
    margin-right: 1em;
  }
}

.footer{
  margin-top:3em;
}
