/*@media (min-width: 320px){
  .page-header{
    //img.media-object{
    //  margin-left:0;
    //}
    background-color: #fff;
    padding:10px 0 10px 0;
    margin: 0;
    //text-align:left;
    //display:inline-block;
    width:100%;
  }
}
@media (min-width: 480px){
  .page-header{
    //img.media-object{
    //  margin-left:1em;
    //}
    background-color: #fff;
    padding:20px 0 20px 0;
    margin: 0;
    //text-align:center;
    //display:inline-block;
    width:100%;
  }
}*/
.page-header {
  background-color: #fff;
}
body {
  background-color:#E7E7E7;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.plot {
  height: 50%;
  width: 50%;
}
.faq {
  text-align: block;
  margin-left:15%;
  margin-right:15%;
  margin-top:2%;
}
.faq h1 {
  text-align: center;
}
ul.share-buttons{
  list-style: none;
}
.dropdown-menu {
  min-width: 0px !important;
  width:60px;
}
.dropdown-menu a {
  padding: 0 2px 1px 2px !important;
}
.share{
  width: 30px;
  padding-right: 5px;
}
.footer{
  margin-top:3em;
}
.single-batch{
  table-layout: fixed;
  width: 100%;
}
.help table, .help th, .help td {
  background-color: white;
  border: 1px solid black;
  border-bottom: none;
  width: 100%;
}
.help th, .help td {
  padding: 10px;
  text-align: left;
}
/*img.supporters {
  width: 150px;
  height: 150px;
}*/
supporters{
  background-color: #fff;
  img{
    width: 200px;
    margin: 1em;
  }
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.modal-body p {
  word-wrap: break-word;
}
